body{
    margin: 0px;
    padding: 0px;
    line-height: 1;
}
.choose {
    display: flex;
    justify-content: center;
}

.center-container {  
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;  
    min-height: 100vh;
    flex-direction: column;
}


.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item{
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 5%;
}

#btn {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-radius: 5%;
}

.Haelfte{
    flex-direction: column;
    padding: 50px;
    margin-top: 7.5vh;
    border-left: 1px slategrey;
    text-align: center;
}

h1{
    text-align: center;
}



/*#bio {
    width: 90vw;
}

.Haelfte img{
    width: 35vw;
    transition: transform .2s;
}

.Haelfte img:hover{
    transform: scale(1.04);
}

header p{
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    text-align: center;
    color: #555f69;
}


.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(236, 236, 236);
    margin-top: 5vh;
}

.footer article{
    width: 300px;
    padding: 10px;
    padding-left: 20px;
    margin:30px;
    
    
}

.footer article p{
    line-height: 0.9;
    color: black;
}

.footer article a{
    line-height: 2;
    padding-top: 10px;
    text-decoration: underline;
    color: black;

}

@media (max-width: 950px) {
    .footer{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: rgb(236, 236, 236);
        margin-top: 5vh;
    }
    
    .footer article{
        width: 300px;
        padding: 10px;
        padding-left: 20px;
        margin:30px;
        
        
    }
    
    .footer article p{
        line-height: 0.9;
    }
    
    .footer article a{
        line-height: 2;
        padding-top: 10px;
        text-decoration: underline;
    }
}
