@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.top{
    
    margin-top: 50px;
    margin-bottom: 2.5vw;
    
    
}



.logo {
    text-align: center;
    transition: transform .2s;
    transition: opacity 500ms linear 0s;
    animation: transitionIn 3s;
}

.bild {
    width: 30vw;
}

.menü {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
    margin-bottom: 5vw;
    
}

.menu{
    position: relative;
    width:340px;
    height: 283px;
    font-family: 'Spartan', sans-serif;
    border: 5px solid rgba(255, 0, 0, 0.753);
    border-radius: 10px;
    
}

.menu img{
    opacity: 0.75;
}

a{
    background-color: white;
    border-radius: 5px;
    padding: 9px;
    text-decoration: none;
    color: black;
   
}


.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.adressen{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.filialen{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.catering{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 20vw;
    padding-right: 20vw;
    height: 100vh;
}

.zurück{
    

    border: 2px solid red;
    padding: 1.3vh;
}

.zurück2{
    border: 2px solid red;
    padding: 1.3vh;
}