@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

.top{
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 2.5vw;
    
    
}

hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    }

.logo {
    text-align: center;
    transition: transform .2s;
    transition: opacity 500ms linear 0s;
    animation: transitionIn 3s;
}

.bild {
    width: 30vw;
}

*{
    font-family: 'Spartan', sans-serif;
    background-image: url(images\würstl.png);
}






