@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;

}

.widerrufsbelehrung{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: justify;
}

h1{
    color: #55aa55;
    font-size: xx-large;
}

h2{
    color: #55aa55;
    font-size: x-large;
}

h3{
    color: #55aa55;
}

h4{
    color: #55aa55;
}

.button{
    position: fixed;
    bottom: 20vh;
    right: 7vw;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #55aa55;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 13px;;
}

.button a{
    text-decoration: none;
}